---
import Layout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
    <main>
        <Hero />
        <section class="pb-28 mx-auto">
        <h1 id="long_form" class="font-bold text-4xl mb-4 text-center uppercase scroll-mt-4">Long Form</h1>

        <ul class="grid md:grid-cols-[500px_500px] grid-cols-[300px] gap-8 pt-4 mx-auto w-fit">

            <li>
<iframe class="w-full" height="300" src="https://www.youtube.com/embed/9n0uinfykek" title="Long Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe class="w-full" height="300" src="https://www.youtube.com/embed/XUkRVxxfVPg" title="Long Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe class="w-full" height="300" src="https://www.youtube.com/embed/CNd7tkvLWWw" title="Long Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe class="w-full"  height="300" src="https://www.youtube.com/embed/rCuWg-LpYiM" title="Long Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

        </ul>


        </section>

<section class="pb-28 mx-auto">
        <h1 id="short_form" class="font-bold text-4xl mb-4 text-center uppercase scroll-mt-4">Short Formm</h1>

        <ul class="grid md:grid-cols-[356px_356px] grid-cols-[300px] gap-12 pt-4 mx-auto w-fit">
            <li>
<iframe class="w-full" height="634" src="https://www.youtube.com/embed/THKyKavDCfM" title="Short Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe class="w-full" height="634" src="https://www.youtube.com/embed/EW05fBtY660" title="Short Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li class="mx-auto">
<iframe class="w-full" height="634" src="https://www.youtube.com/embed/Y4zBUZSCvks" title="Short Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>
        </ul>


        </section>

<section class="pb-28 mx-auto">
        <h1 id="motion_graphics" class="font-bold text-4xl mb-4 text-center uppercase scroll-mt-4">Motion Graphics</h1>

        <ul class="grid md:grid-cols-[500px_500px] grid-cols-[300px] gap-8 pt-4 mx-auto w-fit">

            <li>
<iframe class="w-full" height="300" src="https://www.youtube.com/embed/uf2ATauQuPo" title="Motion Graphics" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe class="w-full"  height="300" src="https://www.youtube.com/embed/34d9PaOiVNQ" title="Motion Graphics" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

        </ul>


        </section>
    </main>
</Layout>
