---
import Layout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
    <main>
        <Hero />
        <section class="pb-28 mx-auto">
        <h1 id="long_form" class="font-bold text-4xl mb-4 text-center uppercase scroll-mt-4">Long Form</h1>

        <ul class="grid md:grid-cols-[500px_500px] grid-cols-[500px] gap-8 pt-4 mx-auto w-fit">
            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>
        </ul>


        </section>

<section class="pb-28 mx-auto">
        <h1 id="short_form" class="font-bold text-4xl mb-4 text-center uppercase scroll-mt-4">Short Form</h1>

        <ul class="grid md:grid-cols-[500px_500px] grid-cols-[500px] gap-8 pt-4 mx-auto w-fit">
            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>
        </ul>


        </section>

<section class="pb-28 mx-auto">
        <h1 id="motion_graphics" class="font-bold text-4xl mb-4 text-center uppercase scroll-mt-4">Motion Graphics</h1>

        <ul class="grid md:grid-cols-[500px_500px] grid-cols-[500px] gap-8 pt-4 mx-auto w-fit">
            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>

            <li>
<iframe  class="w-full" height="300" src="https://www.youtube.com/embed/DyoVVSggPjY" title="Gregory Aldrete: The Roman Empire - Rise and Fall of Ancient Rome | Lex Fridman Podcast #443" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </li>
        </ul>


        </section>
    </main>
</Layout>
