---
import DiscordLogo from "@/assets/DiscordLogo.astro";
import EmailIcon from "@/assets/EmailIcon.astro";
import TwitterLogo from "@/assets/TwitterLogo.astro";
---

<footer>
    <hr />
    <div class="px-2 py-6 relative flex items-center">
        <div class="text-muted-foreground absolute left-0 text-xl">Wizard</div>

        <div class="mx-auto w-fit flex items-center gap-4">
            Work with me
        <div class="flex gap-2 items-center self-start">
            <a
                class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg"
                href="mailto:arshathvisuals@gmail.com"
                aria-label="my email address"
                title="arshathvisuals@gmail.com"
            >
                <EmailIcon class="w-8 h-8" />
            </a>
            <a
                class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg"
                target="_blank"
                href="https://x.com/vfxwizard7"
                aria-label="twitter / X"
            >
                <TwitterLogo class="w-8 h-8" />
            </a>
            <a
                class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg"
                target="_blank"
                href="https://discord.com/users/1116701059826589716"
                aria-label="Connect with me on discord"
            >
                <DiscordLogo class="w-10 h-10" />
            </a>
        </div>
        
        </div>
    </div>
</footer>
