<section
    class="py-60"
>
    <div class="w-fit mx-auto">
        <h1 class="font-bold text-7xl mb-6 text-center">WIZARD 🪄</h1>
        <p class="text-center mb-6">Explore my magic</p>

        <div class="flex gap-6 flex-col sm:flex-row">
            <a class="px-6 py-2 border border-white rounded-full text-center sm:text-left" href="#long_form">Long Form</a>
            <a class="px-6 py-2 border border-white rounded-full text-center sm:text-left" href="#short_form">Short Form</a>
            <a class="px-6 py-2 border border-white rounded-full text-center sm:text-left" href="#motion_graphics">Motion Graphics</a>

        </div>
    </div>
</section>
